body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }
  @keyframes moveHeart {
    0% {
        transform: translateX(0) rotate(0deg);
    }
    50% {
        transform: translateX(200px) rotate(360deg);
    }
    100% {
        transform: translateX(0) rotate(0deg);
    }
}

.heart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveHeart 4s infinite; /* Aici specificăm animația */
}